In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

/var/folders/ht/dg47d7j9403_2cfbpk6nk1xr0000gn/T/ipykernel_12405/328324305.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [7]:
data1 = pd.read_csv('Loc1_session1_group1_2024-04-12_16-14-40.csv')
data1

,Time,Latitude,Longitude,counts,PM1,PM25,PM10,Temperature,Humidity,Pressure,Altitude,VOC
0,1.712964e+09,0,0,32.8,0.0,1.0,1.4,27.152070,30.696679,997.647890,130.715612,108770.0
1,1.712964e+09,0,0,31.8,0.0,1.0,1.4,27.254180,29.994337,997.643963,130.748723,151000.8
2,1.712964e+09,0,0,34.0,0.0,1.0,1.2,27.254180,29.994337,997.643963,130.748723,151000.8
3,1.712964e+09,0,0,32.2,0.0,1.0,1.2,27.282109,29.434223,997.646231,130.729602,180307.2
4,1.712964e+09,0,0,33.8,0.0,1.0,1.0,27.334063,29.144571,997.652590,130.675984,201859.0
...,...,...,...,...,...,...,...,...,...,...,...,...
122,1.712964e+09,0,0,36.6,3.0,4.2,6.0,20.381523,38.929314,997.000298,136.176869,479541.2
123,1.712964e+09,0,0,35.4,3.0,4.2,6.0,20.522969,38.822706,996.991182,136.253758,481388.0
124,1.712964e+09,0,0,37.4,3.0,5.0,6.0,20.671680,38.618806,996.982229,136.329289,479406.8
125,1.712964e+09,0,0,37.4,3.0,5.0,6.0,20.833437,38.525118,996.984921,136.306579,475083.0
126,1.712964e+09,0,0,36.4,3.0,5.0,6.0,20.982070,38.525754,996.992449,136.243078,473213.6

In [10]:
data1['Time'] = data1['Time']-data1['Time'].iloc[0]

In [11]:
data1

,Time,Latitude,Longitude,counts,PM1,PM25,PM10,Temperature,Humidity,Pressure,Altitude,VOC
0,0.00,0,0,32.8,0.0,1.0,1.4,27.152070,30.696679,997.647890,130.715612,108770.0
1,4.93,0,0,31.8,0.0,1.0,1.4,27.254180,29.994337,997.643963,130.748723,151000.8
2,9.94,0,0,34.0,0.0,1.0,1.2,27.254180,29.994337,997.643963,130.748723,151000.8
3,14.92,0,0,32.2,0.0,1.0,1.2,27.282109,29.434223,997.646231,130.729602,180307.2
4,19.97,0,0,33.8,0.0,1.0,1.0,27.334063,29.144571,997.652590,130.675984,201859.0
...,...,...,...,...,...,...,...,...,...,...,...,...
122,609.95,0,0,36.6,3.0,4.2,6.0,20.381523,38.929314,997.000298,136.176869,479541.2
123,614.94,0,0,35.4,3.0,4.2,6.0,20.522969,38.822706,996.991182,136.253758,481388.0
124,619.97,0,0,37.4,3.0,5.0,6.0,20.671680,38.618806,996.982229,136.329289,479406.8
125,624.95,0,0,37.4,3.0,5.0,6.0,20.833437,38.525118,996.984921,136.306579,475083.0
126,629.97,0,0,36.4,3.0,5.0,6.0,20.982070,38.525754,996.992449,136.243078,473213.6

In [14]:
pt1 = data1.loc[data1['Time']<315]
pt1

,Time,Latitude,Longitude,counts,PM1,PM25,PM10,Temperature,Humidity,Pressure,Altitude,VOC
0,0.00,0,0,32.8,0.0,1.0,1.4,27.152070,30.696679,997.647890,130.715612,108770.0
1,4.93,0,0,31.8,0.0,1.0,1.4,27.254180,29.994337,997.643963,130.748723,151000.8
2,9.94,0,0,34.0,0.0,1.0,1.2,27.254180,29.994337,997.643963,130.748723,151000.8
3,14.92,0,0,32.2,0.0,1.0,1.2,27.282109,29.434223,997.646231,130.729602,180307.2
4,19.97,0,0,33.8,0.0,1.0,1.0,27.334063,29.144571,997.652590,130.675984,201859.0
...,...,...,...,...,...,...,...,...,...,...,...,...
59,295.01,0,0,36.2,0.6,2.0,2.0,21.967852,35.056722,996.995223,136.219676,450821.6
60,299.92,0,0,31.2,0.6,2.0,2.0,21.872578,35.239767,996.979525,136.352097,451240.6
61,304.96,0,0,29.6,0.0,2.0,2.0,21.824805,35.374723,996.971791,136.417335,451119.6
62,309.93,0,0,28.4,0.0,2.0,2.0,21.794492,35.432830,996.962926,136.492117,453361.2
63,314.96,0,0,30.4,0.0,2.0,2.0,21.675391,35.535334,996.962137,136.498771,455442.2

In [15]:
pt2 = data1.loc[data1['Time']>=315]
pt2

,Time,Latitude,Longitude,counts,PM1,PM25,PM10,Temperature,Humidity,Pressure,Altitude,VOC
64,319.93,0,0,28.4,0.0,2.0,2.0,21.594492,35.676738,996.972474,136.411576,455689.4
65,324.96,0,0,33.6,1.0,3.0,3.0,21.583125,35.754362,996.961031,136.508104,455754.8
66,329.93,0,0,29.4,1.0,3.0,3.0,21.610039,35.776909,996.963000,136.491495,456430.0
67,334.99,0,0,29.4,1.0,3.0,3.0,21.637305,35.798320,996.967991,136.449390,458415.2
68,339.93,0,0,25.0,1.0,3.0,3.0,21.698203,35.794736,996.978131,136.363852,457609.8
...,...,...,...,...,...,...,...,...,...,...,...,...
122,609.95,0,0,36.6,3.0,4.2,6.0,20.381523,38.929314,997.000298,136.176869,479541.2
123,614.94,0,0,35.4,3.0,4.2,6.0,20.522969,38.822706,996.991182,136.253758,481388.0
124,619.97,0,0,37.4,3.0,5.0,6.0,20.671680,38.618806,996.982229,136.329289,479406.8
125,624.95,0,0,37.4,3.0,5.0,6.0,20.833437,38.525118,996.984921,136.306579,475083.0
126,629.97,0,0,36.4,3.0,5.0,6.0,20.982070,38.525754,996.992449,136.243078,473213.6