In [2]:
import math as m
import matplotlib as plt
import numpy as np
import pandas as pd
import scipy as sp 
import constants as c

In [7]:
df = pd.read_csv("https://raw.githubusercontent.com/Gish-Sky/E11_LabWork/main/InsideData.csv")
print(df)

             Time  Temperature     Gas  Relative_Humididty     Pressure
0    1.708128e+09    33.914766   76275          100.000000   698.528280  \
1    1.708128e+09    26.801094   25656           37.622439  1008.367177
2    1.708128e+09    26.824141   34305           37.552892  1008.369424
3    1.708128e+09    26.849336   42357           37.465622  1008.366333
4    1.708128e+09    26.870820   50247           37.389985  1008.360720
..            ...          ...     ...                 ...          ...
292  1.708128e+09    26.727461  380545           36.849325  1008.328336
293  1.708128e+09    26.725898  381622           36.831270  1008.329322
294  1.708128e+09    26.724727  381406           36.855012  1008.334482
295  1.708128e+09    26.724727  381838           36.843081  1008.336250
296  1.708128e+09    26.725313  380330           36.843140  1008.326598

        Altitude  PM1  PM2.5  PM10
0    3029.237108    3      4     5
1      40.732381    3      4     5
2      40.713599    3      4     5
3      40.739435    3      4     5
4      40.786352    3      4     5
..           ...  ...    ...   ...
292    41.057030    2      4     4
293    41.048789    2      3     3
294    41.005661    2      3     3
295    40.990882    2      3     3
296    41.071561    2      3     3

[297 rows x 9 columns]

In [12]:
x = df['Time']
y_Temperature = df['Temperature']

0      1.708128e+09
1      1.708128e+09
2      1.708128e+09
3      1.708128e+09
4      1.708128e+09
           ...
292    1.708128e+09
293    1.708128e+09
294    1.708128e+09
295    1.708128e+09
296    1.708128e+09
Name: Time, Length: 297, dtype: float64
0      33.914766
1      26.801094
2      26.824141
3      26.849336
4      26.870820
         ...
292    26.727461
293    26.725898
294    26.724727
295    26.724727
296    26.725313
Name: Temperature, Length: 297, dtype: float64

26.80109375